<div class="home text-center">
  <div class="card" [ngClass]="i" *ngFor="let i of ['gold-rare','gold-common', 'silver-rare', 'silver-common', 'bronze-rare', 'bronze-common', 'if-gold', 'if-silver', 'if-bronze', 'fut-champions', 'heroe', 'icon']">
    <img src="https://cdn.futbin.com/content/fifa24/img/players/p999503.png?v=23" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Pelé</h5>
      <small>99</small>
      <p class="card-text">
        <img style="width:20px;" src="https://cdn.futbin.com/content/fifa24/img/clubs/114605.png">
        <img style="width: 24px;" src="https://cdn.futbin.com/content/fifa24/img/nation/27.png">
        <img style="width: 24px;" src="https://cdn.futbin.com/content/fifa24/img/league/31.png">
      </p>
    </div>
  </div>
</div>