<div class="home text-center">
  <div id="Player-card" class="pcdisplay ut24 card-med center-block" ngClass="{{ jugador.type }}" *ngFor="let jugador of data">
    <div class="top-overlay"></div>
    <div class="pcdisplay-rat">{{ jugador.rating }}</div>
    <div class="pcdisplay-name">{{ jugador.name }}</div>
    <div class="pcdisplay-pos">{{ jugador.pos }}</div>

    <div class="pcdisplay-country">
      <img alt="n" class="lazy-main-cln lazyloaded" id="player_nation" src="https://cdn.futbin.com/content/fifa24/img/nation/27.png">
    </div>
    <div class="pcdisplay-club">
      <img alt="c" class="lazy-main-cln lazyloaded" id="player_club" src="https://cdn.futbin.com/content/fifa24/img/clubs/114605.png">
    </div>
    <div class="pcdisplay-league">
      <img alt="c" class="lazy-main-cln lazyloaded" id="player_league" src="{{'https://cdn.futbin.com/content/fifa24/img/league/' + jugador.league + '.png'}}">
    </div>
    <div class="pcdisplay-picture special-img">
      <img class="pcdisplay-picture-width lazy-main-player lazyloaded" id="player_pic" src="{{'https://cdn.futbin.com/content/fifa24/img/players/' + jugador.id + '.png'}}" alt="FIFA 24 Gianluca Vialli 91">
    </div>
  </div>  
</div>